<nav>
    <h2>NavBar</h2>
    <div class="menu">
        <ul>
            <li [routerLink]="['/articles']">Lista de artículos</li>
            <li [routerLink]="['/articles', 'detalle']">Detalle del artículo</li>
            <li [routerLink]="['/dashboard']">Dashboard de administración</li>
            <li [routerLink]="['/dashboard', 'calendar']">Calendario de administración</li>
            <li [routerLink]="['/register']">Registro</li>
            <li [routerLink]="['/login']">Login</li>
        </ul>
    </div>
</nav>